.header {
  padding: 1rem 2rem;
  background-color: #5d4037;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  max-width: 220px;
  text-decoration: none;
  color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkElements {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  gap: 1rem;
}

.linkElements:hover {
  transform: scale(1.05);
}

.header img {
  height: 50px;
  width: auto;
}

.header h1 {
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
