.parent {
  display: grid;
  grid-template-areas:
    'nav header'
    'nav content';
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.header {
  grid-area: header;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav {
  grid-area: nav;
  background-color: #bca99a;
}

.content {
  box-sizing: border-box;
  grid-area: content;
  padding: 2rem;
  background-color: #bca99a;
}

@media (max-width: 1024px) {
  .parent {
    grid-template-areas:
      'header'
      'nav'
      'content';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  .content {
    padding: 10px;
    margin: 0;
    order: 3;
  }

  .nav {
    position: relative;
    height: 130px;
    order: 2;
  }

  .header {
    order: 1;
  }
}
